body{
    background-color: white;
    padding: 60px;
}
.header-1{
    margin-bottom: 100px;
}

.heading{
    margin-bottom: 30px;
}
.logo{
    height: 20px;
    width: 20px;
}
.desc{
    max-width: 70%;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}

h1 img{
    height: 33px;
    width: 65px;
}
.btns{
    margin-bottom: 80px;
}    
.cta-btn{
    background-color: rgba(185, 250, 117, 1);
    color: black;
    padding: 15px 45px;
    border-radius: 100px;
}
.arrow-btn{
    background-color: rgba(185, 250, 117, 1);
    padding: 15px;
    border-radius: 100%;
}

.arrow-btn img{
    height: 35px;
    width: 35px;
}

.robo{
    width: 141px;
    height: 131px;
}
.robo-img{
    background-color: black;
    border-radius: 25px;
    width: fit-content;
    display: flex;
    color: white;
    position: relative;
}
.rotate{
    transform: rotate(-90deg);
    position: relative;
    left: 45px;
    top: 7px;
}

.desc-2{
   padding-left: 20px; 
}
.desc-2 p{
    max-width: 70%;
}

.play-logo{
    height: 40px;
    width: 40px;
    position: absolute;  
}

hr{
    margin-bottom: 30px;
}
.btn-3{
    color: black;
}
.min-btn{
    padding: 10px;
    border-radius: 100px;
    border: solid 2px rgba(215, 215, 215, 1);
    max-width: 30%;
}

/* right-side */
.right-cnt{
    position: relative;
    padding: 20px;
    background-image: url(img/photo.png);
    height: 100%;
    background-size: cover;
    background-position: left center;
    border-radius: 40px;
}

.right-btns a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 45px;
    padding: 10px 25px;
    font-size: small;

}

.talk-btn{
    position: absolute;
    left: 440px;
    top: 20px;
    background-color: black;
    border-radius: 45px;
    padding: 10px 25px;
    width: fit-content;
}

.talk-btn a {
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    padding:  10px;
    display: inline-block;
    gap: 2px;
}

.dot-2{
    height: 12px;
    width: 12px;
}

.box-1{
    display: flex;
    position: relative;
    top: 260px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    color: white;
    padding: 20px;
    border: none;
    backdrop-filter: blur(5px);
}

.box-2{
    position: relative;
    top: 260px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    color: white;
    padding: 20px;
    border: none;
    backdrop-filter: blur(5px);
}

.arrow-2 img{
    height: 25px;
    width: 25px;
}

.arrow-2 {
    background-color: white;
    padding: 6px 6px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group{
    width: 100%;
}

.graph{
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    height: 135px;
}

.graph-1{
    background-color: rgb(255, 255, 255);
    height: 30%;
    border-radius: 10px;
    width: 100%;

}

.graph-2{
    background-color: white;
    height: 60%;
    border-radius: 10px;
    width: 100%;

}

.graph-3{
    background-color: white;
    height: 50%;
    border-radius: 10px;
    width: 100%;

}

.graph-4{
    background-color: white;
    height: 90%;
    border-radius: 10px;
    width: 100%;

}

.graph-main{
    margin-top: 35px;
}